home-kubernetes-chrb-vmd-ms1.yaml
home-kubernetes-chrb-vmd-ms2.yaml
home-kubernetes-chrb-vmd-ms3.yaml
home-kubernetes-chrb-vmd-nd1.yaml
home-kubernetes-chrb-vmd-nd2.yaml
home-kubernetes-chrb-vmd-nd3.yaml
talosconfig
